<!-- employees/templates/employees/index.html -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>従業員の新規作成</title>
    </head>
    <body>
        <h1>従業員の新規作成</h1>

        <form method="POST" action="{% url 'employee_create' %}">
            {% csrf_token %}
            <label for="name">名前:</label>
            <input type="text" id="name" name="name">
            <br><br>
            <label for="email">メールアドレス</label>
            <input type="email" id="email" name="email">
            <br><br>
            <button type="submit">作成</button>
        </form>

        <p><a href="{% url 'employee_index' %}">一覧へ戻る</a></p>
    </body>
</html>