<!-- employees/templates/employees/index.html -->
{% extends 'base.html' %} 
{% block title %} 従業員の一覧 {% endblock %}
{% block content %}
        <h1>従業員一覧</h1>
        <a href="{% url 'employee_new' %}" class="btn btn-sm btn-secondary">新規作成</a>
        <table class="table table-striped">
            <thread>
                <tr>
                    <th>名前</th>
                    <th>部署</th>
                    <th>アクション</th>
                </tr>
            </thread>
        <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{ emp.name }}</td>
                <td>{{ emp.department }}</td>
                <td>
                    <a href="{% url 'employee_edit' emp.pk %}" class="btn btn-sm btn-warning">編集</a> 
                    <a href="{% url 'employee_confirm_delete' emp.pk %}" class="btn btn-sm btn-danger">削除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}