<!-- employees/templates/employees/employee_edit.html.html -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>従業員の削除確認</title>
    </head>
    <body>
        <h1>削除の確認</h1>
        <p>{{ employee.name }} ({{ employee.email }}) を削除しますか。よろしいですか？</p>

        <form method="POST" action="{% url 'employee_delete' employee.pk %}">
            {% csrf_token %}
            <button type="submit">削除</button>
            <a href="{% url 'employee_index' %}">キャンセル</a>
        </form>
    </body>
</html>