{% extends 'base.html' %}
{% block title %}日報一覧{% endblock %}
{% block content %}
<h1>日報一覧</h1>
<div class="row">
    {% for report in reports %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ report.title }}</h5>
                    <p class="card-text">投稿者: {{ report.author.username }}</p>
                    <a href="{% url 'report_detail' report.pk %}" class="btn btn-primary">詳細を見る</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>まだ日報はありません。</p>
    {% endfor %}
</div>
{% endblock %}